button{
    background-color: darkorange;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    color: black;    
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: black;
    color: aliceblue;
    padding: 10px;
}